.gsb-color {
    background: -webkit-linear-gradient(0, #113665, #484c09);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.gsb-btn {
    background: -webkit-linear-gradient(0, #113665, #484c09);
    color: #fff;
    min-width: 100px;
    min-height: 30px;
    border: none;
}
.gsb-navbar {
    background: -webkit-linear-gradient(0, #113665, #484c09);
    background: -moz-linear-gradient(0, #113665, #484c09);
}
.gsb-error {
    margin-top: 10px;
    padding: 0 5px 0 5px;
    background-color: #faa;
    border-left: 5px #833 solid;
    color: #833;
}